<%- include('partials/header') %>

<div class="row justify-content-center">
  <div class="col-md-8 text-center">
    <div class="mt-5 mb-5">
      <h1 class="display-1 text-danger"><%= title %></h1>
      <p class="lead"><%= message %></p>
      <a href="/" class="btn btn-primary">Return to Home</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
